@font-face {
    font-family: 'Minecraft';
    src: url('../assets/fonts/MinecraftRegular-Bmg3.otf') format('opentype');
}

@font-face {
    font-family: 'Minecraft';
    src: url('../assets/fonts/MinecraftBold-nMK1.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Minecraft';
    src: url('../assets/fonts/MinecraftItalic-R8Mo.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'Minecraft';
    src: url('../assets/fonts/MinecraftBoldItalic-1y1e.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Titilium Web';
    src: url('../assets/fonts/TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Titilium Web';
    src: url('../assets/fonts/TitilliumWeb-Bold.ttf') format('truetype');
    font-weight: bold;
}