@import url('https://renansantos7.github.io/styles/reset.css');
@import url('fonts.css');
@import url('header.css');
@import url('hero.css');
@import url('infos.css');
@import url('other-downloads.css');
@import url('features.css');
@import url('editions.css');
@import url('footer.css');

:root {
    /* Colors */
    --stone: hsl(300, 1%, 61%);
    --stone2: hsl(0, 0%, 45%);
    --inventory: hsl(0, 0%, 78%);
    --inventory2: hsl(0, 0%, 55%);
    --inventory-out: hsl(0, 0%, 62%);
    --inventory-out2: hsl(0, 0%, 84%);
    --terracota: hsl(19, 38%, 44%);
    --spruce-log: hsl(32, 41%, 37%);
    --oak: hsl(37, 44%, 57%);
    --gold: hsl(54, 100%, 65%);
    --gold2: hsl(50, 99%, 64%);
    --gold3: hsl(48, 100%, 62%);
    --gold-frame:hsl(37, 65%, 52%);
    --grass: hsl(96, 56%, 37%);
    --grass2: hsl(90, 50%, 25%);
    --ice: hsla(218, 94%, 74%, 0.5);
    --blue-ice: hsl(219, 95%, 70%);

    /* Sizes */
    --header-height: 3rem;
    --page-width: 1000px;
}

/* % GENERIC RULES */

body {
	font-family: 'Titilium Web', sans-serif;
	line-height: 1.5;
}

ul {
	list-style: square;
	margin-left: 1rem;
}

h1, h2, h3 {
	font-family: 'Minecraft';
}

p {
	font-size: 1.2rem;
}

section {
	padding-block: 5rem;
}

section h2 {
	font-weight: normal;
	font-size: 3rem;
}

.limited-width {
	width: min(90%, var(--page-width));
	margin-inline: auto;
}
