:root {
    /* Colors */
    --stone: hsl(300, 1%, 61%);
    --stone2: hsl(0, 0%, 45%);
    --inventory: hsl(0, 0%, 78%);
    --inventory2: hsl(0, 0%, 55%);
    --terracota: hsl(19, 38%, 44%);
    --spruce-log: hsl(32, 41%, 37%);
    --oak: hsl(37, 44%, 57%);
    --gold: hsl(54, 100%, 65%);
    --gold2: hsl(50, 99%, 64%);
    --gold3: hsl(48, 100%, 62%);
    --gold-frame:hsl(37, 65%, 52%);
    --grass: hsl(96, 56%, 37%);
    --grass2: hsl(90, 50%, 25%);
    --ice: hsla(218, 94%, 74%, 0.5);
    --blue-ice: hsl(219, 95%, 70%);

    /* Sizes */
    --header-height: 3rem;
    --page-width: 900px;
}